body {
  background: #202020;
  color: white;;
}

.button {
  background-color: green;
  color: white;
  font-weight: bold;
  font-family: monospace;
  font-size: larger;
  border-radius: 5px;
  margin-bottom: 5px;
  width: 100px;
}